@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "typeahead";

body {
    font-size: 15px;
}

div.section {
    margin-top: 5px;
}

form.inline-form {
    display: inline-block;
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
    vertical-align: middle;
}
